// variables

// colors
@black-1: rgba(0, 0, 0, 0.1);
@black-2: rgba(0, 0, 0, 0.2);
@black-3: rgba(0, 0, 0, 0.3);
@black-4: rgba(0, 0, 0, 0.4);
@black-5: rgba(0, 0, 0, 0.5);
@black-6: rgba(0, 0, 0, 0.6);
@black-7: rgba(0, 0, 0, 0.7);
@black-8: rgba(0, 0, 0, 0.8);
@black-9: rgba(0, 0, 0, 0.9);
@black: #000000;
@white-1: rgba(255, 255, 255, 0.1);
@white-2: rgba(255, 255, 255, 0.2);
@white-3: rgba(255, 255, 255, 0.3);
@white-4: rgba(255, 255, 255, 0.4);
@white-5: rgba(255, 255, 255, 0.5);
@white-6: rgba(255, 255, 255, 0.6);
@white-7: rgba(255, 255, 255, 0.7);
@white-8: rgba(255, 255, 255, 0.8);
@white-9: rgba(255, 255, 255, 0.9);
@white: #ffffff;

// font sizes - base 16px

@fs-base: 16;

// screen sizes
@screen-is: 320px;
@screen-is-max: (@screen-xs - 1);
@screen-xs: 480px;
@screen-xs-max: (@screen-ts - 1);
@screen-ts: 580px;
@screen-ts-max: (@screen-sm - 1);
@screen-sm: 768px;
@screen-sm-max: (@screen-md - 1);
@screen-md: 992px;
@screen-md-max:  (@screen-lg - 1);
@screen-lg: 1170px;
@screen-max-width: (@screen-lg + @grid-gutter-width);
@screen-notfullhd: (@screen-fullhd - 1);
@screen-fullhd: 1920px;

// grid
@grid-gutter-width: 30px;
@grid-columns: 12;